<!-- reset-password.component.html -->
<body style="background-image: url('assets/img/bg-login.png'); background-size: cover;background-position: center;background-repeat: no-repeat;height: 100vh;margin:0;">
  <div class="session swing-in-bottom-fwd">
    <div class="left">
      <!-- Background image will be set via CSS -->
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="log-in" autocomplete="off">
      <div><img src="assets/img/uba1.png" alt="UBA Logo" style="width: 150px;" ></div>
      <h4>Password Reset <span>Required</span></h4>
      <p>You must change your password before accessing the system</p>

      <!-- Current Password Field -->
      <div class="floating-label">
        <input placeholder="Current Password"
               formControlName="currentPassword"
               [type]="showCurrentPassword ? 'text' : 'password'"
               name="currentPassword"
               id="currentPassword"
               autocomplete="off"
               
               >
        <label for="currentPassword">Current Password</label>
        <div class="icon">
          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              .st0{fill:none;}
              .st1{fill:#010101;}
            </style>
            <rect class="st0" width="24" height="24"/>
            <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
            <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
            <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
          </svg>
        </div>
        <button type="button"
                class="toggle-password"
                (click)="togglePasswordVisibility('current')"
                aria-label="Toggle password visibility">
          <svg *ngIf="!showCurrentPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
          <svg *ngIf="showCurrentPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
          </svg>
        </button>
      </div>

      <!-- New Password Field -->
      <div class="floating-label">
        <input placeholder="New Password"
               formControlName="newPassword"
               [type]="showNewPassword ? 'text' : 'password'"
               name="newPassword"
               id="newPassword"
               autocomplete="off">
        <label for="newPassword">New Password</label>
        <div class="icon">
          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              .st0{fill:none;}
              .st1{fill:#010101;}
            </style>
            <rect class="st0" width="24" height="24"/>
            <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
            <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
            <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
          </svg>
        </div>
        <button type="button"
                class="toggle-password"
                (click)="togglePasswordVisibility('new')"
                aria-label="Toggle password visibility">
          <svg *ngIf="!showNewPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
          <svg *ngIf="showNewPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
          </svg>
        </button>
      </div>

      <!-- Confirm Password Field -->
      <div class="floating-label">
        <input placeholder="Confirm New Password"
               formControlName="confirmPassword"
               [type]="showConfirmPassword ? 'text' : 'password'"
               name="confirmPassword"
               id="confirmPassword"
               autocomplete="off">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="icon">
          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              .st0{fill:none;}
              .st1{fill:#010101;}
            </style>
            <rect class="st0" width="24" height="24"/>
            <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
            <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
            <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
          </svg>
        </div>
        <button type="button"
                class="toggle-password"
                (click)="togglePasswordVisibility('confirm')"
                aria-label="Toggle password visibility">
          <svg *ngIf="!showConfirmPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
          <svg *ngIf="showConfirmPassword" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
          </svg>
        </button>
      </div>

      <!-- Password Requirements -->
      <div class="password-requirements">
        <h6>Password must contain:</h6>
        <ul>
          <li>At least 8 characters</li>
          <li>Uppercase & lowercase letters</li>
          <li>Numbers and special characters</li>
        </ul>
      </div>

      <!-- Error Messages -->
      <h6 style="color: red;" *ngIf="errorMessages">{{ errorMessages }}</h6>

      <!-- Success Messages -->
      <h6 style="color: green;" *ngIf="successMessage">{{ successMessage }}</h6>

      <button type="submit"
              style="cursor: pointer;"
              [disabled]="isSubmitting || resetPasswordForm.invalid">
        {{ isSubmitting ? 'Changing Password...' : 'Change Password' }}
      </button>

      <!-- Sign Out Link -->
      <a class="discrete" (click)="logout()" style="cursor: pointer;">Sign Out</a>
    </form>
    <br>
  </div>
</body>
