<div class="main-content slit-in-vertical">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Import Domiciliation Management</h4>
          </div>

          <div class="content">
            <p-fieldset legend="Menu">
              <div class="grid">
              <div class="col-10">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="grid p-fluid">
                <div class="col-2">
                  <span class="p-float-label">
                    <input pInputText formControlName="referenceDi" />
                    <label>Reference DI</label>
                  </span>
                </div>
                <div class="col-2">
                  <span class="p-float-label">
                    <input pInputText formControlName="clientName" />
                    <label>Client Name</label>
                  </span>
                </div>
                <div class="col-2">
                  <span class="p-float-label">
                    <input pInputText formControlName="sgsReference" />
                    <label>Sgs Reference</label>
                  </span>
                </div>
                <div class="col-2">
                  <span class="p-float-label">
                    <p-calendar formControlName="startDate" />
                    <label>Start Docmiciliation Date</label>
                  </span>
                </div>
                <div class="col-2">
                  <span class="p-float-label">
                    <p-calendar formControlName="endDate"/>
                    <label>End Docmiciliation Date</label>
                  </span>
                </div>
                <div class="col-1">
                  <button pButton type="submit"
                    label="Search"
                    icon="pi pi-search"
                    class="p-button-outlined">
                  </button>
                </div>
                <div class="col-1">
                  <button pButton type="button"
                    label="Reset"
                    icon="pi pi-refresh"
                    class="p-button-outlined"
                    (click)="resetSearch()">
                  </button>
                </div>
              </form>
              </div>
              <div class="col-2" style="text-align: right"
                appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator]"
                                  [requiredUserTypes]="[UserType.InternalUser]">

                <p-fileUpload
                  mode="basic"
                  chooseLabel="Import DI"
                  [auto]="true"
                  accept=".xlsx,.xls"
                  [maxFileSize]="1000000"
                  (onSelect)="handleFileInput($event)"
                  styleClass="p-button-outlined p-button-success"
                >
                </p-fileUpload>

              </div>
              </div>
            </p-fieldset>

            <br />
            <hr />
            <p-table
              [value]="dis"
              styleClass="p-datatable-striped p-datatable-gridlines"
              [expandedRowKeys]="expandedRows"
              dataKey="id"
              [totalRecords]="totalRecords"
              [rows]="pageSize"
              [paginator]="true"
              [showCurrentPageReport]="true"
              [loading]="loading"
               [lazy]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              (onPage)="onPageChange($event)"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col" style="width: 3rem"></th>
                  <th scope="col">Reference DI</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Provider Name</th>
                  <th scope="col">SGS Reference</th>
                  <th scope="col">Domiciliation Date</th>
                  <th scope="col">DI Amount</th>
                  <th scope="col">DI Amount Used</th>
                  <th scope="col">Status</th>
                  <th scope="col">DI Modified</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-di let-expanded="expanded">
                <tr>
                  <td>
                    <button
                      type="button"
                      pButton
                      pRipple
                      [pRowToggler]="di"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></button>
                  </td>
                  <td>{{ di.referenceDi }}</td>
                  <td>{{ di.clientName }}</td>
                  <td>{{ di.providerName }}</td>
                  <td>{{ di.referenceSgs }}</td>
                  <td>
                    {{ di.dateDomiciliationDiInBank | date : "medium" }}
                  </td>
                  <td>{{ di.currency }} {{ di.amountInCurrency | number:'1.2-2' }} </td>
                  <td>{{ di.currency }} {{ di.soldeInCurrency | number:'1.2-2' }} </td>
                  <td>
                    <p-tag
                      [value]="getDIStatusString(di.diStatus)"
                      [severity]="colorStatus(di.diStatus)"
                    >
                    </p-tag>
                  </td>
                  <td>
                        <p-tag
                                [value]="di.hasDataBeingModified ? 'Yes' : 'No'"
                                [severity]="di.hasDataBeingModified ? 'danger' : 'success'"
                              ></p-tag>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-di>
                <tr>
                  <td colspan="10">
                    <div class="p-grid p-nogutter">
                      <div class="p-col-12">
                        <div class="grid">
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">Client</div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">{{ di.clientName }}</div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              SGS Reference
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.referenceSgs }}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Creation Date
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.dateCreationDiInEforce | date : "medium" }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Domiciliation Date
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{
                                di.dateDomiciliationDiInBank | date : "medium"
                              }}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Client NIU
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">{{ di.clientNiu }}</div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Domiciliation Number In Bank
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.domiciliationNumberInBank }}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Transportation
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.transportationMode }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Terme Vente
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">{{ di.termeVente }}</div>
                          </div>
                         <div class="col-2">
                            <div class="text-left p-3 font-bold">Amount Of DI</div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.amountInCurrency | number:'1.2-2'}} {{ di.currency }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">Balance</div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.soldeInCurrency | number:'1.2-2'}} {{ di.currency }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Amount (XAF)
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.amountInXaf | number:'1.2-2'}}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Expiry Date
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.dateDiExpired | date : "medium" }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Bill Reference
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.billReference }}
                            </div>
                          </div>
                            <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Bill Expiring Date
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.billExpiringDate  | date : "medium" }}
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Bill Reference
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.billReference }}
                            </div>
                          </div>

                            <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Goods Quantity
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.goodQuantity }}
                            </div>
                          </div>

                            <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Goods Unit
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.goodsUnit }}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                              Goods Description
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              {{ di.goodsDescription }}
                            </div>
                          </div>

                          <div class="col-2">
                            <div class="text-left p-3 font-bold">
                             <!-- when DI is uploaded with new data
                              particulary a new initial amount then we flag as
                              DI has been modified-->
                              Has Data Being Modified
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="text-left p-3">
                              <p-tag
                                [value]="di.hasDataBeingModified ? 'Yes' : 'No'"
                                [severity]="di.hasDataBeingModified ? 'danger' : 'success'"
                              ></p-tag>
                            </div>
                          </div>

                        </div>
                        <hr />
                        <div class="flex flex-row-reverse flex-wrap mt-3">
                           <button
                            pButton
                            type="button"
                            class="p-button-outlined"
                            icon="pi pi-refresh"
                            iconPos="left"
                            label="DI Update History"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]"
                            (click)="openUpdateDescriptionDialog(di)"
                            style="margin-right: 10px"
                          ></button>
                          <button
                            pButton
                            type="button"
                            class="p-button-outlined"
                            icon="pi pi-pencil"
                            iconPos="left"
                            label="Update Description"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]"
                            (click)="openUpdateDescriptionDialog(di)"
                            style="margin-right: 10px"
                          ></button>
                          <button
                            pButton
                            type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-info"
                            iconPos="left"
                            label="Request Attestation"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]"
                            (click)="requestDIAttestation(di.id)"
                            style="margin-right: 10px"
                          ></button>
                          <button
                            pButton
                            type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-file-pdf"
                            iconPos="left"
                            label="View Attestations Generated"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]"
                            (click)="viewDIAttestations(di.id)"
                            style="margin-right: 10px"
                          ></button>
                          <button
                            pButton
                            type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-arrow-down"
                            iconPos="left"
                            label="View Imputations"
                            (click)="viewImputations(di.id)"
                            style="margin-right: 10px"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #dialog_operation_swal
  title="Success"
  text="Operation completed successfully"
  icon="success"
>
</swal>

<p-dialog [(visible)]="updateDescriptionDialog" [style]="{ width: '50vw' }" [position]="'top'" [modal]="true" header="Update DI Description">
  <form [formGroup]="updateDescriptionForm" (ngSubmit)="updateDescription()">
    <div class="grid p-fluid mt-3">

       <div class="field col-8">
        <span class="p-float-label p-input-filled">
          <input
            formControlName="amountInCurrency"
            type="text"
            id="amountInCurrency"
            pInputText  [disabled]="true"
          />
          <label for="amountInCurrency">Amount In Currency </label>
          <small
            *ngIf="updateDescriptionForm.get('amountInCurrency')?.invalid &&
                   (updateDescriptionForm.get('amountInCurrency')?.dirty ||
                    updateDescriptionForm.get('amountInCurrency')?.touched)"
                class="p-error">Amount reference is required.</small>      </span>
       </div>

       <div class="field col-4">
        <span class="p-float-label p-input-filled">
          <input
            formControlName="currency"
            type="text"
            id="currency"
            pInputText  [disabled]="true"
          />
          <label for="currency">Currency </label>
          <small
            *ngIf="updateDescriptionForm.get('currency')?.invalid &&
                   (updateDescriptionForm.get('currency')?.dirty ||
                    updateDescriptionForm.get('currency')?.touched)"
                class="p-error">Currency reference is required.</small>      </span>
      </div>


      <div class="field col-6">
        <span class="p-float-label p-input-filled">
          <input
            formControlName="billReference"
            type="text"
            id="billReference"
            pInputText
          />
          <label for="billReference">Bill Reference</label>
          <small
            *ngIf="updateDescriptionForm.get('billReference')?.invalid &&
                   (updateDescriptionForm.get('billReference')?.dirty ||
                    updateDescriptionForm.get('billReference')?.touched)"
            class="p-error">Bill reference is required.</small>
        </span>
      </div>

      <div class="field col-6">
        <span class="p-float-label">
          <p-calendar
            formControlName="billExpiringDate"
            [showTime]="true"
            id="billExpiringDate"
          ></p-calendar>
          <label for="billExpiringDate">Bill Expiring Date</label>
          <small
            *ngIf="updateDescriptionForm.get('billExpiringDate')?.invalid &&
                   (updateDescriptionForm.get('billExpiringDate')?.dirty ||
                    updateDescriptionForm.get('billExpiringDate')?.touched)"
            class="p-error">Expiring date is required.</small>
        </span>
      </div>

      <div class="field col-6">
        <span class="p-float-label p-input-filled">
          <input
            formControlName="goodQuantity"
            type="text"
            id="goodQuantity"
            pInputText
          />
          <label for="goodQuantity">Good Quantity</label>  <small
            *ngIf="updateDescriptionForm.get('goodQuantity')?.invalid &&
                   (updateDescriptionForm.get('goodQuantity')?.dirty ||
                    updateDescriptionForm.get('goodQuantity')?.touched)"
            class="p-error">Good Quantity is required.</small>
        </span>
      </div>

      <div class="field col-6">
        <span class="p-float-label">
          <p-dropdown
            id="goodsUnit"
            [options]="goodUnits"
            formControlName="goodsUnit"
            optionLabel="diGoodsUnitName"
            optionValue="diGoodsUnitName"
            [showClear]="true"
          ></p-dropdown>
          <label for="goodsUnit">Goods Unit</label>
          <small
            *ngIf="updateDescriptionForm.get('goodsUnit')?.invalid &&
                   (updateDescriptionForm.get('goodsUnit')?.dirty ||
                    updateDescriptionForm.get('goodsUnit')?.touched)"
            class="p-error">Goods Unit is required.</small>
        </span>
      </div>

          <div class="field col-12">
        <span class="p-float-label p-input-filled">
          <input
            formControlName="goodsDescription"
            type="text"
            id="goodsDescription"
            pInputText
          />
          <label for="goodsDescription">Goods Description</label>
         <!--  <small
            *ngIf="updateDescriptionForm.get('goodsDescription')?.invalid &&
                   (updateDescriptionForm.get('goodsDescription')?.dirty ||
                    updateDescriptionForm.get('goodsDescription')?.touched)"
            class="p-error">Goods Unit is required.</small> -->
        </span>
      </div>

      <div class="field col-9"></div>
      <div class="field col-3">
        <br />
        <button
          pButton
          type="submit"
          class="p-button-outlined p-button-success"
          style="float: right; margin-right: 25px"
          [label]="isSubmitted ? 'Updating...' : 'Update'"
          [icon]="isSubmitted ? 'pi pi-spinner pi-spin' : 'pi pi-check'"
          iconPos="left"
          [disabled]="updateDescriptionForm.invalid || isSubmitted"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog  [(visible)]="attestationsDialog"  [style]="{ width: '70vw'}"  header="DI Attestations">
  <p-table
    [value]="attestations"
    styleClass="p-datatable-striped p-datatable-sm"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Reference DI</th>
        <th>SGS Reference</th>
        <th>Reference Letter</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date Generated</th>
        <th appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]">
            Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attestation>
      <tr>
        <td>{{ attestation.referenceDI }}</td>
        <td>{{ attestation.sgsReference }}</td>
        <td>{{ attestation.referenceLetter }}</td>
        <td>{{ getAttestationTypeString(attestation.typeAttestation) }}</td>
        <td>
          <p-tag
            [value]="
              getAttestationStatusString(
                attestation.diAttestationGenerationStatus
              )
            "
            [severity]="
              attestation.diAttestationGenerationStatus == 1
                ? 'success'
                : 'danger'
            "
          >
          </p-tag>
        </td>
        <td>{{ attestation.dateGenerated | date : "medium" }}</td>
        <td appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator,UserRoleEnum.TradeAuthorizer,UserRoleEnum.Verifier]"
                                  [requiredUserTypes]="[UserType.InternalUser]">
          <button
            pButton
            type="button"
            icon="pi pi-download"
            class="p-button-rounded p-button-text"
            [disabled]="attestation.diAttestationGenerationStatus != 1"

            (click)="downloadAttestation(attestation)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">No attestations found</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  [(visible)]="imputationsDialog"
  [style]="{ width: '60vw' }"
  header="DI Imputations"
>
  <p-table
    [value]="imputations"
    styleClass="p-datatable-striped p-datatable-sm"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Reference DI</th>
        <th>SGS Reference</th>
        <th>Transaction ID</th>
        <th>Transaction Reference</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Imputation Date</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-imputation>
      <tr>
        <td>{{ imputation.referenceDI }}</td>
        <td>{{ imputation.sgsReference }}</td>
        <td>{{ imputation.transactionId }}</td>
        <td>{{ imputation.transactionReference }}</td>
        <td>{{ imputation.imputationAmount }}</td>
        <td>{{ imputation.imputationCurrency }}</td>
        <td>{{ imputation.imputationDate | date:'medium'  }}</td>
        <td>
          <p-tag
            [value]="getImputationStatusString(imputation.imputationStatus)"
            [severity]="
              imputation.imputationStatus === 0 ? 'success' : 'warning'
            "
          >
          </p-tag>
        </td>
        <td>{{ imputation.comment }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center">No imputations found</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
