.ps__rail-x,  .ps__rail-y
{
  display: none !important;
}

.ps__thumb-x, .ps__thumb-x
{
  display: none !important;
}

.wrapper.sidebar-hidden .sidebar {
  display: none;
}

.wrapper.sidebar-hidden .main-panel {
  width: 100%;
}
