<div class="main-content slit-in-vertical">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Corporate Management</h4>
          </div>

          <div class="content">
            <p-fieldset legend="Menu">
              <div class="inline-block m-2" style="float: right;">
                <button pButton label="New Corporate"
                  class="p-button-outlined p-button-success"

                  (click)="openAddCorporateDialog()"
                  icon="pi pi-plus" iconPos="left">
                </button>
              </div>
            </p-fieldset>

            <br />
            <hr />
            <p-table [value]="corporates"
              styleClass="p-datatable-striped p-datatable-gridlines"
              [expandedRowKeys]="expandedRows"
              dataKey="id"
              [totalRecords]="totalRows"
              [rows]="pageSize"
              [paginator]="true"
              [showCurrentPageReport]="true"
              [loading]="loading"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Name</th>
                  <th>NIU</th>
                  <th>Address</th>
                  <th>Registration Number</th>
                  <th>Relationship Manager</th>
                  <th>Last Updated By</th>
                  <th>Last Updated</th>
                  <th>Status</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-corporate let-expanded="expanded">
                <tr>
                  <td>
                    <button type="button" pButton pRipple [pRowToggler]="corporate"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                  </td>
                  <td>{{corporate.name}}</td>
                  <td>{{corporate.niu}}</td>
                  <td>{{corporate.address}}</td>
                  <td>{{corporate.registrationNumber}}</td>
                  <td>{{corporate.relationshipManagerName || 'Not Assigned'}}</td>
                  <td>{{corporate.lastUpdatedBy}}</td>
                  <td>{{corporate.lastUpdatedDate | date:'medium'}}</td>
                  <td>
                    <p-tag
                      [value]="getStatusString(corporate.corporateStatus)"
                      [severity]="colorStatus(corporate.corporateStatus)">
                    </p-tag>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-corporate>
                <tr>
                  <td colspan="8">
                    <div class="p-grid p-nogutter">
                      <div class="p-col-12">
                        <div class="grid">
                          <!-- Corporate Details -->
                          <div class="col-12">
                            <p-fieldset legend="Corporate Details">
                                <div class="grid">
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">ID</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.id}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">Name</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.name}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">NIU</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.niu}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">Registration Number</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.registrationNumber}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">Created By</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.createdBy}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">Created Date</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">{{corporate.createdDate | date:'medium'}}</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3 font-bold">Mise En Demeure</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">
                                    <p-tag
                                      [value]="getMiseEndemeureStatusString(corporate.miseEnDemeureStatus)"
                                      [severity]="colorMiseEnDemeureStatus(corporate.miseEnDemeureStatus)">
                                    </p-tag>
                                  </div>
                                </div>
                                  <div class="col-2">
                                  <div class="text-left p-3 font-bold">Attestation Non Default Apurement</div>
                                </div>
                                <div class="col-2">
                                  <div class="text-left p-3">
                                    <p-tag
                                      [value]="getadnaReportStatusString(corporate.adnaReportStatus)"
                                      [severity]="coloradnaReportStatus(corporate.adnaReportStatus)">
                                    </p-tag>
                                  </div>
                                </div>
                                </div>
                            </p-fieldset>
                          </div>

                          <!-- Bank Accounts -->
                          <div class="col-6">
                            <p-fieldset legend="Bank Accounts">
                              <p-table [value]="corporate.bankAccounts">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>Account Name</th>
                                    <th>Account Number</th>
                                    <th>Branch</th>
                                    <th style="width: 4rem"></th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-account>
                                  <tr>
                                    <td>{{account.accountName}}</td>
                                    <td>{{account.accountNumber}}</td>
                                    <td>{{account.branchCode}}</td>
                                    <td>
                                      <button pButton pRipple
                                        type="button"
                                        icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger p-button-text"
                                        (click)="removeBankAccount(corporate.id, account.accountNumber)">
                                      </button>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                              <div class="flex justify-content-end mt-2">
                                <button pButton type="button"
                                  label="Add Account"
                                  icon="pi pi-plus"
                                  class="p-button-outlined p-button-success"
                                  (click)="openAddBankAccountDialog(corporate)">
                                </button>
                              </div>
                            </p-fieldset>
                          </div>

                          <!-- Corporate Contacts -->
                          <div class="col-6">
                            <p-fieldset legend="Contacts">
                              <p-table [value]="corporate.corporateContacts">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th style="width: 4rem"></th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-contact>
                                  <tr>
                                    <td>{{contact.contactName}}</td>
                                    <td>{{contact.position}}</td>
                                    <td>{{contact.contactEmail}}</td>
                                    <td>{{contact.contactPhone}}</td>
                                    <td>
                                      <button pButton pRipple
                                        type="button"
                                        icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger p-button-text"
                                        (click)="removeContact(corporate.id, contact.corporateContactId)">
                                      </button>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                              <div class="flex justify-content-end mt-2">
                                <button pButton type="button"
                                  label="Add Contact"
                                  icon="pi pi-plus"
                                  class="p-button-outlined p-button-success"
                                  (click)="openAddContactDialog(corporate)">
                                </button>
                              </div>
                            </p-fieldset>
                          </div>
                        </div>
                      </div>
                        <div class="p-col-12">
                        <hr/>
                        <div class="flex flex-row-reverse flex-wrap">

                          <button pButton type="button"
                            class="p-button-outlined p-button-danger"

                            icon="pi pi-trash" iconPos="left"
                            label="Delete"
                            style="margin-right: 25px">
                          </button>
                          <button pButton type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-download" iconPos="left"
                            label="Download ADNA"
                            (click)="downloadADNA(corporate)"
                            [disabled]="corporate.adnaReportStatus!=ADNAReportStatus.Available"
                            style="margin-right: 10px">
                          </button>
                             <button pButton type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-chevron-down" iconPos="left"
                            label="Request ADNA"
                            (click)="requestADNA(corporate)"
                            style="margin-right: 10px">
                          </button>
                          <button pButton type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-user" iconPos="left"
                            label="Assign Manager"
                            (click)="openAssignManagerDialog(corporate)"
                            style="margin-right: 10px">
                          </button>

                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- Add Corporate Dialog -->
          <p-dialog [(visible)]="corporateDialog" [style]="{width: '50vw'}">
            <ng-template pTemplate="header">
              <div class="text-center">
                <h3 class="title">Create Corporate</h3>
              </div>
            </ng-template>

            <form [formGroup]="createCorporateForm" (ngSubmit)="createCorporate()">
              <div class="grid p-fluid mt-3">
                <!-- Add this new autocomplete field at the top -->
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-autoComplete formControlName="corporateId"
                      [suggestions]="filteredCustomers"
                      (completeMethod)="searchCustomer($event)"
                      (onSelect)="onCustomerSelect($event)"
                      (onClear)="clearCustomerSelection()"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [field]="'clientId'"
                      [style]="{'width':'100%'}"
                      inputId="corporateId">
                      <ng-template let-customer pTemplate="item">
                        <div>{{customer.clientId}} - {{customer.name}}</div>
                      </ng-template>
                    </p-autoComplete>
                    <label for="corporateId">Search Existing Corporate ID</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="name" type="text" id="name" pInputText />
                    <label for="name">Corporate Name</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="niu" type="text" id="niu" pInputText />
                    <label for="niu">NIU</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="address" type="text" id="address" pInputText />
                    <label for="address">Address</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="registrationNumber" type="text" id="registrationNumber" pInputText />
                    <label for="registrationNumber">Registration Number</label>
                  </span>
                </div>

                <div class="field col-12">
                  <button pButton type="submit"
                    class="p-button-outlined p-button-success"
                    [label]="isSubmitted ? 'Submitting...' : 'Save'"
                    [icon]="isSubmitted ? 'pi pi-spinner pi-spin' : 'pi pi-save'"
                    iconPos="left"
                    [disabled]="createCorporateForm.invalid || isSubmitted">
                  </button>
                </div>
              </div>
            </form>
          </p-dialog>

          <!-- Add Contact Dialog -->
          <p-dialog [(visible)]="addContactDialog" [style]="{width: '40vw'}" [header]="'Add Corporate Contact'">
            <form [formGroup]="createContactForm" (ngSubmit)="addContact()">
              <div class="grid p-fluid mt-3">
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-dropdown formControlName="position"
                      [options]="positionOptions"
                      [style]="{'width':'100%'}"
                      inputId="position">
                    </p-dropdown>
                    <label for="position">Position</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="contactName" type="text" id="contactName" pInputText />
                    <label for="contactName">Contact Name</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="contactEmail" type="email" id="contactEmail" pInputText />
                    <label for="contactEmail">Email</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="contactPhone" type="text" id="contactPhone" pInputText />
                    <label for="contactPhone">Phone</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label">
                    <textarea formControlName="comment" id="comment" rows="3" pInputTextarea></textarea>
                    <label for="comment">Comment</label>
                  </span>
                </div>

                <div class="field col-12">
                  <button pButton type="submit"
                    class="p-button-outlined p-button-success"
                    label="Save"
                    icon="pi pi-save"
                    iconPos="left"
                    [disabled]="createContactForm.invalid">
                  </button>
                </div>
              </div>
            </form>
          </p-dialog>

          <!-- Add Bank Account Dialog -->
          <p-dialog [(visible)]="addBankAccountDialog" [style]="{width: '40vw'}" header="Add Bank Account">
            <form [formGroup]="createBankAccountForm" (ngSubmit)="addBankAccount()">
              <div class="grid p-fluid mt-3">
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-autoComplete formControlName="accountNumber"
                      [suggestions]="filteredAccounts"
                      (completeMethod)="searchAccount($event)"
                      (onSelect)="onAccountSelect($event)"
                      (onClear)="clearAccountSelection()"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [field]="'accountNumber'"
                      [style]="{'width':'100%'}"
                      inputId="accountNumber">
                      <ng-template let-account pTemplate="item">
                        <div>{{account.accountNumber}} - {{account.accountName}}</div>
                      </ng-template>
                    </p-autoComplete>
                    <label for="accountNumber">Account Number</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="accountName" type="text" id="accountName" pInputText readonly />
                    <label for="accountName">Account Name</label>
                  </span>
                </div>

                <div class="field col-12">
                  <span class="p-float-label p-input-filled">
                    <input formControlName="branch" type="text" id="branch" pInputText readonly />
                    <label for="branch">Branch</label>
                  </span>
                </div>

                <div class="field col-12">
                  <button pButton type="submit"
                    class="p-button-outlined p-button-success"
                    [label]="isSubmitted ? 'Saving...' : 'Save'"
                    [icon]="isSubmitted ? 'pi pi-spinner pi-spin' : 'pi pi-save'"
                    iconPos="left"
                    [disabled]="createBankAccountForm.invalid || isSubmitted">
                  </button>
                </div>
              </div>
            </form>
          </p-dialog>

          <!-- Add Assign Manager Dialog -->
          <p-dialog [(visible)]="assignManagerDialog" [style]="{width: '40vw'}" header="Assign Relationship Manager">
            <form [formGroup]="assignManagerForm" (ngSubmit)="assignManager()">
              <div class="grid p-fluid mt-3">
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-autoComplete formControlName="relationshipManager"
                      [suggestions]="filteredManagers"
                      (completeMethod)="searchManagers($event)"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [field]="'name'"
                      [style]="{'width':'100%'}"
                      inputId="relationshipManager">
                      <ng-template let-manager pTemplate="item">
                        <div>{{manager.name}} - {{manager.email}}</div>
                      </ng-template>
                    </p-autoComplete>
                    <label for="relationshipManager">Select Manager</label>
                  </span>
                </div>

                <div class="field col-12">
                  <button pButton type="submit"
                    class="p-button-outlined p-button-success"
                    label="Assign"
                    icon="pi pi-check"
                    iconPos="left"
                    [disabled]="assignManagerForm.invalid">
                  </button>
                </div>
              </div>
            </form>
          </p-dialog>

        </div>
      </div>
    </div>
  </div>
</div>
