<nav class="navbar navbar-default navbarSticky ">
    <div class="container-fluid">
        <div class="navbar-header">
            <img style="height: 50px; margin-top: 10px;"  src="/assets/img/uba1.png"/>

        </div>

        <div class="user-info-and-logout" >

           <div class="user-logout">
               <p> Welcome {{userName}}</p>
              <!--  <i style="font-size: 0.8em;">Last login on 02/05/2027 05:25:56</i> -->
           </div>

            <button class="btn btn-primary" style="margin: 0;" (click)="logout()" >Logout</button>
        </div>

    </div>
</nav>
