<div class="main-content slit-in-vertical">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Individual Management</h4>
          </div>

          <div class="content">
            <p-fieldset legend="Menu">
              <div class="grid">
                <div class="col-8">
                  <form [formGroup]="searchForm" (ngSubmit)="searchIndividuals()" class="flex gap-2">
                    <span class="p-input-icon-left flex-grow-1">
                      <i class="pi pi-search"></i>
                      <input
                        type="text"
                        pInputText
                        formControlName="searchTerm"
                        placeholder="Search Individuals..."
                        class="w-full"
                      />
                    </span>
                    <button
                      pButton
                       appRoleVisibility [requiredUserTypes]="[UserType.InternalUser]"
                      type="submit"
                      label="Search"
                      icon="pi pi-search"
                      class="p-button-outlined"
                    ></button>
                  </form>
                </div>
                <div class="col-4">
                  <div class="flex justify-content-end">
                  <button pButton label="New Individual"
                  class="p-button-outlined p-button-success"
                  (click)="openAddIndividualDialog()"
                   appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                  icon="pi pi-plus" iconPos="left">
                  </button>
                  </div>
                </div>

              </div>
            </p-fieldset>
            <br />
            <hr />
            <!-- Individual Table -->
            <p-table [value]="individuals"
              styleClass="p-datatable-striped p-datatable-gridlines"
              [expandedRowKeys]="expandedRows"
              dataKey="id"
              [totalRecords]="totalRows"
              [rows]="pageSize"
              [paginator]="true"
              [showCurrentPageReport]="true"
              [loading]="loading"
              [lazy]="true"
              (onPage)="onPageChange($event)"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem"></th>
                  <th>Name</th>
                  <th>NIU</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>City</th>
                  <th>Relationship Manager</th>
                  <th>Status Mise En Demeure Export</th>
                  <th>Status Mise En Demeure Import</th>
                  <th>Status</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-individual let-expanded="expanded">
                <tr>
                  <td>
                    <button type="button" pButton pRipple [pRowToggler]="individual"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                  </td>
                  <td>{{individual.name}}</td>
                  <td>{{individual.niu}}</td>
                  <td>{{individual.email}}</td>
                  <td>{{individual.phone}}</td>
                  <td>{{individual.city}}</td>
                  <td>
                     <status
                      [value]="individual.relationshipManagerName || 'Not Assigned'"
                      severity="info">
                    </status>
                  </td>
                  <td>
                    <status
                      [value]="getMiseEndemeureStatusString(individual.miseEnDemeureStatusForExport)"
                      [severity]="colorMiseEnDemeureStatus(individual.miseEnDemeureStatusForExport)">
                     </status>
                  </td>
                   <td>
                    <status
                      [value]="getMiseEndemeureStatusString(individual.miseEnDemeureStatusForImport)"
                      [severity]="colorMiseEnDemeureStatus(individual.miseEnDemeureStatusForImport)">
                     </status>
                  </td>
                  <td>
                    <status
                      [value]="getStatusString(individual.individualStatus)"
                      [severity]="colorStatus(individual.individualStatus)">
                    </status>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-individual>
                <tr>
                  <td colspan="10">
                    <div class="p-grid p-nogutter">
                      <div class="p-col-12">
                        <div class="grid">
                          <div class="col-12">
                            <p-fieldset legend="Individual Details">
                              <div class="grid">
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">ID</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.id}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Name</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.name}}</div>
                              </div>

                              <div class="col-2">
                                <div class="text-left p-3 font-bold">NIU</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.niu}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Address</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.address}}</div>
                              </div>

                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Email</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.email}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Phone</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.phone}}</div>
                              </div>

                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Account Number</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.bankAccount?.accountNumber}}</div>
                              </div>
                               <div class="col-2">
                                <div class="text-left p-3 font-bold">Account Name</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3"> {{individual.bankAccount?.accountName}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Branch</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.bankAccount?.branchCode}}</div>
                              </div>

                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Created By</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.createdBy}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Created Date</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.createdDate | date:'medium'}}</div>
                              </div>
                                  <div class="col-2">
                                <div class="text-left p-3 font-bold">Last Updated By</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.lastUpdatedBy}}</div>
                              </div>
                              <div class="col-2">
                                <div class="text-left p-3 font-bold">Last Update Date</div>
                              </div>
                              <div class="col-4">
                                <div class="text-left p-3">{{individual.lastUpdatedDate | date:'medium'}}</div>
                              </div>
                                 <div class="col-2">
                                  <div class="text-left p-3 font-bold">Mise En Demeure Import</div>
                                </div>
                                <div class="col-4">
                                  <div class="text-left p-3">
                                    <status
                                      [value]="getMiseEndemeureStatusString(individual.miseEnDemeureStatusForImport)"
                                      [severity]="colorMiseEnDemeureStatus(individual.miseEnDemeureStatusForImport)">
                                    </status>
                                  </div>
                                </div>
                                   <div class="col-2">
                                  <div class="text-left p-3 font-bold">Mise En Demeure Export</div>
                                </div>
                                <div class="col-4">
                                  <div class="text-left p-3">
                                    <status
                                      [value]="getMiseEndemeureStatusString(individual.miseEnDemeureStatusForExport)"
                                      [severity]="colorMiseEnDemeureStatus(individual.miseEnDemeureStatusForExport)">
                                    </status>
                                  </div>
                                </div>
                                  <div class="col-2">
                                  <div class="text-left p-3 font-bold">Attestation Non Default Apurement (Last run status)</div>
                                </div>
                                <div class="col-4">
                                  <div class="text-left p-3">
                                    <status
                                      [value]="getadnaReportStatusString(individual.adnaReportStatus)"
                                      [severity]="coloradnaReportStatus(individual.adnaReportStatus)">
                                    </status>
                                  </div>
                                </div>
                              </div>
                            </p-fieldset>
                          </div>
                        </div>
                      </div>
                       <div class="p-col-12">
                        <hr/>
                        <div class="flex flex-row-reverse flex-wrap">
                          <button pButton type="button"
                            class="p-button-outlined p-button-danger"
                            icon="pi pi-trash" iconPos="left"
                            label="Delete Individual"
                            *ngIf="individual.individualStatus !== individualStatus.Delete"
                             appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                            (click)="confirmDeleteIndividual(individual)"
                            style="margin-right: 25px">
                          </button>
                            <button pButton type="button"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-download" iconPos="left"
                            label="Download ADNA"
                            (click)="downloadADNA(individual)"
                            [disabled]="individual.adnaReportStatus!=ADNAReportStatus.Available"
                             appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                            style="margin-right: 10px">
                          </button>
                             <button pButton type="button"
                              *ngIf="individual.individualStatus !== individualStatus.Delete"
                               appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-chevron-down" iconPos="left"
                            label="Request ADNA"
                            (click)="requestADNA(individual)"
                            style="margin-right: 10px">
                          </button>
                          <button pButton type="button"
                           *ngIf="individual.individualStatus !== individualStatus.Delete"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                            class="p-button-outlined p-button-info"
                            icon="pi pi-user" iconPos="left"
                            label="Assign RM"
                            (click)="openAssignManagerDialog(individual)"
                            style="margin-right: 10px">
                          </button>
                          <button pButton type="button"
                           *ngIf="individual.individualStatus !== individualStatus.Delete"
                            appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]"
                            class="p-button-outlined"
                            icon="pi pi-sync" iconPos="left"
                            label="Refresh"
                            (click)="updateIndividual(individual)"
                            style="margin-right: 10px">
                          </button>
                          <!-- <ng-container [ngSwitch]="individual.individualStatus">
                            <button *ngSwitchCase="1" pButton type="button"
                              class="p-button-outlined p-button-warning"
                              icon="pi pi-pause" iconPos="left"
                              label="Suspend"
                              (click)="suspendIndividual(individual.id)"
                              style="margin-right: 10px">
                            </button>
                            <button *ngSwitchCase="2" pButton type="button"
                              class="p-button-outlined p-button-success"
                              icon="pi pi-play" iconPos="left"
                              label="Activate"
                              (click)="activateIndividual(individual.id)"
                              style="margin-right: 10px">
                            </button>
                          </ng-container> -->
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <!-- Add Individual Dialog -->
            <p-dialog [(visible)]="individualDialog" [style]="{width: '50vw'}">
              <ng-template pTemplate="header">
                <div class="text-center">
                  <h3 class="title">Create Individual</h3>
                </div>
              </ng-template>

              <form [formGroup]="createIndividualForm" (ngSubmit)="createIndividual()">
                <div class="grid p-fluid mt-3">
                  <!-- Individual ID Autocomplete -->
                  <div class="field col-12">
                    <span class="p-float-label">
                      <p-autoComplete formControlName="individualId"
                        [suggestions]="filteredCustomers"
                        (completeMethod)="searchCustomer($event)"
                        (onSelect)="onCustomerSelect($event)"
                        (onClear)="clearCustomerSelection()"
                        [dropdown]="false"
                        [forceSelection]="true"
                        [field]="'clientId'"
                        [style]="{'width':'100%'}"
                        inputId="individualId">
                        <ng-template let-customer pTemplate="item">
                          <div>{{customer.clientId}} - {{customer.name}}</div>
                        </ng-template>
                      </p-autoComplete>
                      <label for="individualId">Search Existing Individual ID</label>
                    </span>
                  </div>

                  <!-- Form Fields -->
                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="name" type="text" id="name" pInputText [readOnly]="true" />
                      <label for="name">Name</label>
                    </span>
                  </div>

                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="niu" type="text" id="niu" pInputText  [readOnly]="true" />
                      <label for="niu">NIU</label>
                    </span>
                  </div>

                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="email" type="email" id="email" pInputText [readOnly]="true"  />
                      <label for="email">Email</label>
                    </span>
                  </div>

                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="phone" type="text" id="phone" pInputText [readOnly]="true"  />
                      <label for="phone">Phone</label>
                    </span>
                  </div>

                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="address" type="text" id="address" pInputText [readOnly]="true" />
                      <label for="address">Address</label>
                    </span>
                  </div>

                 <!--  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="city" type="text" id="city" pInputText />
                      <label for="city">City</label>
                    </span>
                  </div> -->

                  <!-- Add account fields after existing form fields -->
                  <div class="field col-12">
                    <span class="p-float-label">
                      <p-autoComplete formControlName="accountNumber"
                        [suggestions]="filteredAccounts"
                        (completeMethod)="searchAccount($event)"
                        (onSelect)="onAccountSelect($event)"
                        (onClear)="clearAccountSelection()"
                        [dropdown]="false"
                        [forceSelection]="true"
                        [field]="'accountNumber'"
                        [style]="{'width':'100%'}"
                        [disabled]="!canSearchAccount"
                        inputId="accountNumber">
                        <ng-template let-account pTemplate="item">
                          <div>{{account.accountNumber}} - {{account.accountName}}</div>
                        </ng-template>
                      </p-autoComplete>
                      <label for="accountNumber">Account Number</label>
                    </span>
                  </div>

                  <div class="field col-12">
                    <span class="p-float-label p-input-filled">
                      <input formControlName="branch" type="text" id="branch" pInputText readonly />
                      <label for="branch">Branch</label>
                    </span>
                  </div>

                  <!-- Submit Button -->
                  <div class="field col-12">
                    <button pButton type="submit"
                      class="p-button-outlined p-button-success"
                      [label]="isSubmitted ? 'Submitting...' : 'Save'"
                      [icon]="isSubmitted ? 'pi pi-spinner pi-spin' : 'pi pi-save'"
                      iconPos="left"
                      [disabled]="createIndividualForm.invalid || isSubmitted"
                       appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]">
                    </button>
                  </div>
                </div>
              </form>
            </p-dialog>

            <!-- Assign Manager Dialog -->
<p-dialog [(visible)]="assignManagerDialog" [style]="{width: '40vw', height :'40vh'}" header="Assign Relationship Manager">
  <form [formGroup]="assignManagerForm" (ngSubmit)="assignManager()">
    <div class="grid p-fluid mt-3">
      <div class="field col-12">
        <span class="p-float-label">
          <p-autoComplete formControlName="relationshipManager"
            [suggestions]="filteredManagers"
            (completeMethod)="searchManagers($event)"
            [dropdown]="true"
            [forceSelection]="true"
            [field]="'name'"
            [style]="{'width':'100%'}"
            inputId="relationshipManager">
            <ng-template let-manager pTemplate="item">
              <div>{{manager.name}} - {{manager.email}}</div>
            </ng-template>
          </p-autoComplete>
          <label for="relationshipManager">Select Manager</label>
        </span>
      </div>

      <div class="field col-12">
        <button pButton type="submit"
          class="p-button-outlined p-button-success"
          label="Assign"
          icon="pi pi-check"
          iconPos="left"
          [disabled]="assignManagerForm.invalid"
           appRoleVisibility [requiredRoles]="[UserRoleEnum.TradeInitiator, UserRoleEnum.Verifier, UserRoleEnum.TradeAuthorizer]"
                                    [requiredUserTypes]="[UserType.InternalUser]">
        </button>
      </div>
    </div>
  </form>
</p-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #dialog_operation_swal
  title="Success"
  text="Operation completed successfully"
  icon="success"
  [showConfirmButton]="true">
</swal>
